.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 20px;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.5);
}