.flex {
  display: flex;
  justify-content: space-between;
}

.weapon-img-container {
  background-color: rgb(175, 170, 150);
  height: 45%;
}

.weapon-img-container > img {
  width: 100%;
  height: 100%;
}